{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
{{ super() }}
<div class="page-header">
    {% if current_user == user %}
        <h1>个人中心</h1>
        <p class="text-right"><a href="{{ url_for('user.security_center') }}">安全中心</a> </p>
    {% else %}
        <h1>用户中心</h1>
    {% endif %}
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{% if current_user == user %}我的资料{% endif %}【用户名：{{ user.username }}】</h3>
    </div>
    <div class="panel-body">
        <div class="col-lg-4">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <img class="img-rounded" src="{{ user.avatar_hash }}" width="300px"><br><br>
                    {% if current_user == user %}
                        <a id="modal-416617" href="#modal-container-416617" role="button" class="btn btn-warning" data-toggle="modal">修改头像</a>
                    {% endif %}
                    <div class="modal fade" id="modal-container-416617" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        头像上传
                                    </h4>
                                </div>
                                <form method="post" action="{{ url_for('user.change_avatar') }}" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <input type="file" name="avatar">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="submit" class="btn btn-primary">上传</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8>">
            <h1>{{ user.username }}
                {% if current_user == user %}
                    <a id="modal-956888" href="#modal-container-956888" role="button" class="btn btn-info" data-toggle="modal">修改个人信息</a>
                {% elif current_user.is_administrator() %}
                    <a href="{{ url_for('admin.delete_user', id=user.id) }}" class="btn btn-danger">删除该用户</a>

                {% elif current_user.is_following(user) %}
                    <a href="{{ url_for('main.unfollow', id=user.id) }}" class="btn btn-success" title="取消关注">
                        <span class="glyphicon glyphicon-ok"></span>已关注</a>
                {% else %}
                    <a href="{{ url_for('main.follow', id=user.id) }}" class="btn btn-default" title="点击关注">
                        <span class="glyphicon glyphicon-plus"></span>关注</a>
                {% endif %}
            </h1>
            <h5>
                {% if current_user.is_followed_by(user) %}<span class="label label-danger">关注了你</span>{% endif %}
                <span class="label label-primary">关注：{{ user.followed.count() }}</span>
                <span class="label label-success">被关注：{{ user.followers.count() }}</span>
            </h5>
            {% if user.name %}<p>名字：{{ user.name }}</p>{% endif %}
            {% if user.email %}<p>邮箱：<a href="mailto:{{ user.email }}">{{ user.email }}</a></p>{% endif %}
            {% if user.sex %}<p>性别： {{ user.sex }}</p>{% endif %}
            {% if user.location %}<p>地址： {{ user.location }}</p>{% endif %}
            {% if user.about_me %}<p>个性签名： {{ user.about_me }}</p>{% endif %}
            {% if current_user == user %}<p>用户注册时间：{{ moment(user.member_since).fromNow() }}</p>{% endif %}
            <br>
            <div class="modal fade" id="modal-container-956888" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                个人信息
                            </h4>
                        </div>
                        <form action="{{ url_for('user.change_info') }}" method="post">
                            <div class="modal-body">
                                <div class="input-group">
                                    <span class="input-group-addon">用户：</span>
                                    <input type="text" class="form-control" value="{{ user.username }}" disabled="disabled">
                                </div><br>
                                <div class="input-group">
                                    <span class="input-group-addon">邮箱：</span>
                                    <input type="text" class="form-control" value="{{ user.email }}" disabled="disabled">
                                </div>
                                {% if current_user == user %}<p class="text-right"><a href="{{ url_for('user.change_email') }}">更改邮箱</a></p>{% endif %}
                                <div class="input-group">
                                    <span class="input-group-addon">密码：</span>
                                    <input type="text" class="form-control" placeholder="请前往安全中心修改密码" disabled="disabled">
                                </div>
                                {% if current_user == user %}<p class="text-right"><a href="{{ url_for('user.security_center') }}">安全中心</a> </p>{% endif %}
                                <div class="input-group">
                                    <span class="input-group-addon">姓名：</span>
                                    <input type="text" class="form-control" value="{{ user.name }}" name="name">
                                </div><br>
                                <div class="input-group">
                                    <span class="input-group-addon">性别：</span>
                                    <select name="sex" class="form-control">
                                        <option value="男" {% if user.sex == '男' %}selected="selected"{% endif %}>男</option>
                                        <option value="女" {% if user.sex == '女' %}selected="selected"{% endif %}>女</option>
                                    </select>
                                </div><br>
                                <div class="input-group">
                                    <span class="input-group-addon">地址：</span>
                                    <input type="text" class="form-control" value="{{ user.location }}" name="location">
                                </div><br>
                                <div>
                                    <span>个性签名：</span>
                                    <textarea  rows="3" name="about_me" class="form-control">{{ user.about_me }}</textarea>
                                </div><br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="blogs">
    <h3>{% if current_user.id == user.id %}我{% elif user.sex == '女' %}她{% else %}他{% endif %}的所有文章</h3>
    <p class="text text-right"><span class="label label-success">共{{ bn }}篇</span> </p>
    {% include 'user/_blogs.html' %}
</div>
{% endblock %}