<ul class="posts">
    {% for b in pagination.items %}
        <li class="post">
                <div class="post-thumbnail">
                    <a href="{{ url_for('main.look_blog', id=b.id) }}">
                        <img class="img-rounded profile-thumbnail" width="100px"
                             src="{{ (b.title or '+-+%s' % url_for('static', filename='blog_avatar/%s.jpg' % randint(1, 8))).rsplit('+-+', 1)[1] }}">
                    </a>
                </div>
                <div class="post-content">
                    <div class="post-date">{{ moment(b.timestamp).fromNow() }}</div>
                    <div class="post-author">
                        <a href="{{ url_for('user.user_center', id=b.author_id) }}">
                            &nbsp;&nbsp;{{ b.author.name }}
                        </a>
                    </div>
                    <div class="post-body">
                        {% if b.title %}
                            {{ (b.title or '无标题').rsplit('+-+', 1)[0] }}
                        {% else %}
                            无标题
                        {% endif %}
                    </div>

                    <div class="post-footer">
                        <a href="{{ url_for('main.look_blog', id=b.id) }}"  class="label label-primary">
                            <span>点击查看</span>
                        </a>&nbsp;
                        <a class="label label-warning"><span>{{ b.comments.count() }}评论</span> </a>&nbsp;
                        {% if current_user == b.author %}
                        <a class="label label-primary" href="{{ url_for('main.change_blog', id=b.id) }}">
                            <span>更改博客</span>
                        </a>&nbsp;
                        {% elif current_user.is_administrator() %}
                        <a class="label label-danger" href="{{ url_for('main.change_blog', id=b.id) }}">
                            <span>更改博客[管理员]</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
        </li>

    {% endfor %}

</ul>
<div class="blogs-pagination">
    <ul class="pagination">
        <li{% if not pagination.has_prev %} class="disabled" {% endif %}>
            <a href="{% if pagination.has_prev %}{{ url_for(endpoint, id=user.id,
                    page=pagination.page - 1) }}{% else %}#{% endif %}">
            &laquo;
            </a>
        </li>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p==pagination.page %}
                <li class="active">
                    <a href="{{ url_for(endpoint, page=p) }}">{{ p }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for(endpoint, page=p) }}">{{ p }}</a>
                </li>
                {% endif %}
            {% else %}
            <li class="disabled"><a href="#">&hellip;</a> </li>
            {% endif %}
        {% endfor %}
        <li{% if not pagination.has_next %} class="disabled"{% endif %}>
            <a href="{% if pagination.has_next %}{{ url_for(endpoint,
                    page=pagination.page + 1) }}{% else %}#{% endif %}">
                &raquo;
            </a>
        </li>
    </ul>

</div>
