{% extends 'base.html' %}
{% import '_macros.html' as macros %}
{% block page_content%}
    {{ super() }}
    <div class="container">
	    <div class="row clearfix">
		    <div class="col-md-12 column">
			    <div class="jumbotron">
				    <h1>
					    {{ (blog.title or '[无标题]').rsplit('+-+',1)[0] }}
				    </h1>
                    <h5>
                        <span class="label label-success">浏览量：{{ blog.looks }}</span>&nbsp;&nbsp;
                        <span class="label label-warning">评论：{{ blog.comments.count() }}</span>&nbsp;&nbsp;
                        <span class="label label-primary">发表时间：{{ moment(blog.timestamp).fromNow() }}</span>
                    </h5>
                    {% if current_user == blog.author %}
                        <a href="{{ url_for('main.change_blog', id=blog.id) }}" class="btn btn-primary">修改博客</a>
                    {% else %}
                        <h4 class="text text-right text-muted">作者：
                            <a href="{{ url_for('user.user_center', id=blog.author_id) }}">{{ blog.author.name }}</a>
                        </h4>
                    {% endif %}
	    			<p>
		    			{{ blog.body_html | safe}}
			    	</p>
    			</div>
	    	</div>
    	</div>
        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">评论博客：</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('main.comment_blog', id=blog.id) }}" method="post">
                        <textarea rows="5" style="width: 100%;" name="body" placeholder="我来评论。。。" required="required"></textarea><br><br>
                        <button class="btn btn-success" type="submit">评论</button>
                    </form>
                </div>
            </div>
        {% endif %}
        {% include 'main/_comments.html' %}
        <div class="pagination">
        {{ macros.pagination_widget(comments_pagination, comments_pagination_view, bid=blog.id) }}
        </div>
    </div>

{% endblock %}